.student{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 2px 2px black;
}