body{
    background-color: black;
    color: aliceblue;
}
.Header-field{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    background-color: blueviolet;
    box-shadow: 2px 2px 2px black;
}
.Header-field h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-bottom: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}
.Header-field input{
    border: 2px solid black;
    border-radius: 5px;
    
}
.Header-field button{
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 2px 2px 2px black;
    background-color: rgb(222, 29, 222);
}
.Header-field button:hover{
    background-color: rgb(135, 26, 135);
}

.Poke-card{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    background-color: blueviolet;
}
.Poke-top{
    display: flex;
    gap: 20px;
}
.Pokemon-basic{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 40px;
    width: 50%;
    box-shadow: 2px 2px 2px black;
}
.Pokemon-basic img{
    height: 70%;
}
.Pokemon-moves{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    width: 50%;
    box-shadow: 2px 2px 2px black;

    max-height: 300px;
    overflow-y: auto;
}
.Pokemon-sprites{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 4px 4px 4px black;

}
.Pokemon-moves ul {
    padding-left: 20px;
}

.Pokemon-moves li {
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(105, 36, 169);
    box-shadow: 2px 2px 2px black;
}
.Pokemon-moves li:hover{
     background-color: blueviolet;
}


