body{
  font-family: Arial, Helvetica, sans-serif;

}
.color-picker-con{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin: 50px;
  font-size: 3rem;
}
.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-radius: 25px;
  margin-bottom: 2px;
  transition: 0.25 ease;
}
.color-display p{
  color: grey;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid black;
}
