.card{
  border: 4px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  box-shadow: 5px 5px 5px black;
  width: 200px;
  margin: 10px;
  display: inline-block;
}
.card .card-img{
  width: 200px;
  border-radius: 20px;
  border: 2px solid black;
}
.card .card-header{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  color: brown;
}
