.junk_food{
  border: 2px solid black;
  border-radius: 200px;
  text-align: center;
  background-color: lightblue;
}
.fruits{
  border: 2px solid black;
  border-radius: 200px;
  text-align: center;
  background-color: lightblue;
}
h3{
  border: 2px solid black;
  border-radius: 200px;
  text-align: center;
  background-color: lightblue;
}