.Counter_container{
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
}
.count_display{
  font-size: 5rem;
}
.counter_button{
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
  font-size: 1.5em;
  margin: 0px 5px;
  background-color: aqua;
  cursor: pointer; 
}
.counter_button:hover{
  background-color: rgb(28, 154, 154);
}